@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}
:root {
  --Light-Green: hsl(171, 15%, 64%);
  --Dark-Green: hsl(172, 19%, 25%);
  --Light-Black: hsl(1360, 7%, 24%);
  --white: hsl(0, 0, 100, 100%);
}
html {
  font-size: 62.5%;
}
/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Green);
    height: 25rem;
}
header img{
    transition: 1s  ease;
    transform: scale(1.2);
}
/* header */

/* section */
.content-mayor{
    display: flex;
    justify-content:space-around;
    margin: 15rem 0 15rem 0;
}

section .first-column, section .second-column{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.one, .two, .three, .four{
    display: flex;
    gap: 3rem;
}

button{
width: 100px;
height: 20px;
}
.content-card{
    display: flex;
    width: 100%;
    height: 23rem;
}
.content-card img{
    border-radius: 3rem;
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
}
.content-card img:hover{
    cursor: pointer;
    width: 30rem;
    opacity: 1;
}
.content-card img:hover .gato{
    opacity: 1;
}
/* section */

/* footer */
footer{
    background-color: var(--Dark-Green);
    height: 20rem;
}
ul{
    list-style: none;
}
li p{
    font-size: 2.5rem;
    line-height: 4rem;
    color: white;
}
footer .content-info-footer{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.content-social ul{
    display: flex;
    gap: 1rem;
}
.content-social svg{
width: 5rem;
}
.content-social svg path{
    fill: white;
}
.content-social svg:hover{
    cursor: pointer;
    transform:rotate(360deg);
    transition: ease-out .8s;
}
/* footer */

.content-img-first-column{
    border-radius: 3rem;
    width: 0;
    height: 100%;
    flex-grow:1 ;
    transition: .5s ease;
   background-image: url(images/article-preview.jpg);
   background-position: center; 
   background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.content-img-first-column button{
    opacity: 0;
}

.content-img-first-column:hover{
width: 30rem;
}
.content-img-first-column:hover button{
    opacity: 1;
    bottom: 30%;
}