.content-stars {
  display: flex;
  justify-content: space-around;
  width: 328px;
  height: 46px;
  border-radius: 10px;
  align-items: center;
  background-color: var(--magentaclaro-color);
  font-weight: 900;
}

.content-cards {
  background-color: var(--background-cards-color);
  width: 296px;
  height: 216px;
  border-radius: 10px;
  display: flex;
  padding: 15px;
}

.flex-and-direction {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 935px) and (min-width: 375px) {
  .content-cards {
    width: 324px;
  }

  .content-stars {
    flex-direction: column;
    height: 70px;
  }
}
