.flex-width {
  width: 100%;
  height: 100%;
  display: flex;
}

.flex-direction {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.learns {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px white;
}
