@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(233, 47%, 7%);
  box-sizing: border-box;
}

.container {
  border-radius: 7px;
  width: 86%;
  margin: 85px 0px 0px 99px;
  display: flex;
  background-color: hsl(244, 38%, 16%);
}

.content {
  width: 100%;
  height: 470px;
  display: flex;
}

.content-escrito {
  width: 512px;
  height: 480px;
  padding: 0px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.xddd {
  color: rgb(170, 92, 219);
}
.title {
  font-family: "Inter", sans-serif;
  font-size: 27px;
  padding: 0px 0px 0px 0px;
  color: #fff;
}
.descripcion {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding: 0px 102px 0px 0px;
}

.numbers {
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: space-evenly;
  font-size: 10px;
  padding: 0px 113px 0px 0px;
}

.content-img {
  width: 53%;
  height: auto;
}
.img {
  width: 100%;
  height: 470px;
  border-radius: 0px 7px 7px 0px;
  background-image: linear-gradient(rgb(170, 92, 219,0.8), rgb(170, 92, 219,0.8)),
    url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* .img::before{
  background-color: red;
  width: 100%;
  opacity: .4;
  height: 100%;
  content: '';
} */
