@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f2f2f2;
  --yellow-color: #e38826;
  --cyan-color: #006970;
  --darkcyan-color: #004241;
  --trasparent-color: #ffffffbf;
}

body {
  background-color: var(--trasparent-color);
  font-family: "Lexend Deca", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

main {
  align-items: center;
  margin-top: 110px;
  flex-direction: column;
}

.escrito {
  display: flex;
  width: 80%;
  height: 500px;
  color: var(--primary-color);
}
.title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
}
.texto {
  color: var(--trasparent-color);
  line-height: 20px;
}

.sedan {
  background-color: var(--yellow-color);
  padding: 0px 26px 0px 28px;
  border-radius: 10px 0px 0px 10px;
}

.suvs {
  background-color: var(--cyan-color);
  padding: 0px 26px 0px 28px;
}
.luxu {
  background-color: var(--darkcyan-color);
  padding: 0px 26px 0px 28px;
  border-radius: 0px 10px 10px 0px;
}

.learn1 {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px white;
  color: var(--yellow-color);
  background-color: var(--trasparent-color);
}
.learn2 {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px white;
  color: var(--cyan-color);
  background-color: var(--trasparent-color);
}

.learn3 {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px white;
  color: var(--darkcyan-color);
  background-color: var(--trasparent-color);
}
