.flex-width {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.flex-direction {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}



@media screen and (max-width: 800px) {
  .flex-direction {
    justify-content: space-between;
  }
  .flex-width{
    width: 100%;
    height: 100%;
  }
  .learns {
    height: 45px;
  }
}
