@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import "./styles/utilidades/utilidades.css";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #f2ebe3;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
}
main{
  display: flex;
  align-items: center;
}
.content-perfume {
  align-items: center;
  background-color: #fff;
  border-radius: 3%;
  width: 645px;
  height: auto;
  display: flex;
}
.img-container {
  width: 320px;
  height: 100%;
  justify-content: center;
  border-radius: 2% 0 0 2%;
}
.img {
  border-radius: inherit;
  width: 320px;
  height: 540px;
}
.main-content {
  width: 425px;
  height: 540px;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.escrito {
  flex-direction: column;
  width: 316px;
}
.titulo {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  letter-spacing: 7px;
  width: 250px;
  text-align: start;
  margin: 30px 0 20px 15px;
}
.subtitle {
  font-size: 35px;
  line-height: 40px;
  width: 260px;
  height: 140px;
  margin-left: 20px;
}

.descripcion {
  color: #6c7289;
  font-size: 14px;
  width: 275px;
  line-height: 28px;
  margin-left: 40px;
}
.prices {
  display: flex;
  justify-content: space-between;
}
.number-big {
  color: #3c8067;
  padding-top: 21px;
  font-size: 31px;
  width: 13%;
  margin-right: 52%;
}

.number-small {
  text-decoration: line-through;
  font-size: 13px;
  color: #6c7289;
  padding-top: 19px;
  margin-right: 51px;
}

.cart-shopping {
  font-size: 20px !important ;
  margin-right: 10px;
}
.btn-cart {
  width: 77%;
  height: 56px;
  border-radius: 10px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: #3c8067;
  margin-top: 25px;
}
.btn-cart:hover {
  background-color: #0e3b2b;
  cursor: pointer;
}

@media only screen and (min-width: 375px) and (max-width: 600px) {
  .container {
    width: 100%;
    margin-top: 0;
  }
  .content-perfume {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .img-container {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .img {
    width: 100%;
    height: 480px;
  }
  .main-content {
    width: 100%;
  }

  .titulo {
    width: 400px;
    font-size: 14px;
    margin: 27px 0px 23px 33px;
  }

  .subtitle {
    width: 464px;
    font-size: 44px;
    margin-left: 74px;
    height: 107px;
  }
  .descripcion {
    width: 380px;
    font-size: 19px;
    line-height: 30px;
    margin: 9px 0px 18px 0px;
  }

  .number-big {
    padding-top: 21px;
    font-size: 31px;
    width: 13%;
    margin-right: 28%;
  }
  .number-small {
    font-size: 13px;
    padding-top: 22px;
    margin-right: 205px;
  }
}
