* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: hsl(217, 54%, 11%);
  box-sizing: border-box;
  font-size: 18px;
  justify-content: center;
  display: flex;
}

.container {
    width: 40%;
    border-radius: 7%;
    height: 618px;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    margin-top: 2%;
}


.content {
  color: hsl(215, 51%, 70%);
  margin: 20px;
  flex-direction: column;
  display: flex;
  width: 100%;
  text-align: left;
}

.content-img {
  margin: 0px 0px 27px 0px;
  display: flex;
  justify-content: center;
}
.img {
    width: 100%;
    border-radius: 6%;
    height: 500px;
}
