.popup-notification {
    position: absolute;
    background-color: white;
    top: 14rem;
    left: 9rem;
    z-index: 10;
    width: 54rem;
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    border-radius: 1rem;
    display: flex;
  }
  .popup-notification article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
  .popup-notification picture {
    margin: 0 0 1rem 0;
  }
  .popup-notification article h2 {
    font-size: 2.4rem;
  }
  .popup-notification article p {
    line-height: 3rem;
  }
  .popup-notification button {
    width: 10.7rem;
    height: 4.7rem;
    border: none;
    border-radius: 5rem;
    background-color: var(--Moderate-cyan);
    color: white;
  }