@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --written-fonts: "Poppins", sans-serif;
  --titles-fonts: "Open Sans", sans-serif;
  --pink-color: hsl(322, 100%, 66%);
  --pale-cyan-color: hsl(193, 100%, 96%);
  --darck-cyan-color: hsl(192, 100%, 9%);
  --graysh-blue-color: hsl(208, 11%, 55%);
}

.container {
  border: solid;
  display: flex;
  flex-direction: column;
  font-family: var(--titles-fonts);
  margin: 20px;
}
.encabezado {
  border: solid;
  display: flex;
  flex-direction: column;
}

.registro {
  justify-content: space-between;
  display: flex;
}
.logo {
  width: 134px;
  height: 36px;
}
.login {
  width: 178px;
  height: 42px;
  border-radius: 25px;
  background-color: var(--pale-cyan-color);
  box-shadow: 0px 0px 4px 0px;
  font-weight: 500;
}

.content-descripcion {
  display: flex;
  justify-content: space-between;
}
.img-directorio {
  width: 613px;
  height: 373px;
}
.descripcion {
  border: solid red;
  width: 453px;
  height: 345px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.descripcion h1 {
  color: var(--darck-cyan-color);
  margin: 0px;
  padding-top: 27px;
  font-size: 34px;
}

.descripcion p {
  font-size: 16px;
}
.content-img {
}

.cards {
}
